@model pitch_perfect.Models.User
@{
    ViewData["Title"] = "Home Page";
    User currentUser = ViewBag.CurrentUser;
}

    <div>
        <div>
            @*If user is logged in*@
            @if (User.Identity.IsAuthenticated)
            {
                <div class="text-center">
                    <h1 class="display-4">Welcome, @User.Identity.Name</h1>
                </div>
                @*<h1>Hello @User.Identity.Name</h1>*@
                <div style="display:flex; flex-direction:row; justify-content:center;">
                    <img src=@currentUser.ImagePath alt="" style="border-radius:50%; max-height:200px; align-self:center;" />
                </div>

            }

            @*Only for users not logged in*@
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="text-center">
                    <h1 class="display-4">Welcome, Writer</h1>
                </div>
                <h1>Please log in or register!</h1>
                <div>
                    <img class="logo-big"><img src="~/Images/PitchPerfect.jpg" alt="logo" style="max-height:500px; border-radius:250px" />
                </div>
            }

            @*You'll see this always*@
            @*<h2>this is always here</h2>*@
            <p></p>
        </div>
     </div>
