@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
       <h1 class="display-4">Welcome, Writer</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
    <div>
        <div>
            <img class="logo-big"><img src="~/Images/PitchPerfect.jpg" alt="logo" style="max-height:500px; border-radius:250px" />
        </div>
        <div>
            <p></p>
        </div>
     </div>
    @*<div>
        <ul>
        <li><img src="@User.ImagePath" alt="@System.IO.Path.GetFileName(url)" /></li>
        </ul>
    </div>*@
